{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<section>
  <div id="nav-panel" class="container">
    <div class="columns">
      <div class="column col-3 col-xs-12">
        <div class="panel">
          <div class="panel-header text-center">
            <!--
            <figure class="avatar avatar-lg">
              <img src="img/avatar-2.png" alt="Logo">
            </figure>
            -->
            <div class="panel-title h5 mt-10">PyMyAdmin</div>
            <div class="panel-subtitle">v0.1.0</div>
          </div>
          <nav class="panel-nav">
            <ul class="tab tab-block">
              <li class="tab-item active">
                <a href="#nav-panel">Schema</a>
              </li>
              <li class="tab-item">
                <a href="#nav-panel">Settings</a>
              </li>
            </ul>
          </nav>
          <div class="panel-body">
            {% if databases %}
            <ul class="menu">
              <li class="divider" data-content="Databases">
              {% for db in databases%}
              <li class="menu-item {{'text-gray' if db['system']}}">
                <a href="#"><i class="fa fa-database"></i> {{db["name"]}}</a>
              </li>
              {% endfor %}
              <li class="divider"></li>
            </ul>
            {% endif %}
          </div>
          <div class="panel-footer">

          </div>
        </div>
      </div>
      <div class="column col-9 col-xs-12">
        <div class="empty">
          <div class="empty-icon">
            <i class="icon icon-people"></i>
          </div>
          <p class="empty-title h5">You have no new messages</p>
          <p class="empty-subtitle">Click the button to start a conversation.</p>
          <div class="empty-action">
            <button class="btn btn-primary">Send a message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if databases %}
<div class="accordion">
  {% for db in databases %}
  <input type="radio" id="accordion-1" name="accordion-radio" hidden>
  <label class="accordion-header"><i class="fa fa-database"></i>&nbsp;{{db["database"]}}</label>
  <div class="accordion-body"><!-- TABLES GO HERE --></div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}
