{% extends 'base_nav.html' %}
{% block title %}Query{% endblock %}

{% block style %}
<style>
table.results-output th {
  border: 1px solid #999;
  background-color: #DDD;
  padding: 0.25rem;
  font-weight: 700;
}
table.results-output td {
    border: 1px dashed #DDD;
    padding: 0.15rem 0.25rem;
}
table.results-output {
    text-align: left;
}
.text-error{
  color: #990000;
  background-color: #FF9;
  padding: 0.5rem;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="columns">
    <div class="column col-12">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Table</th>
            <th>Records</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          {% for table in tables -%}
          <tr>
            <td>{{table['table_name']}}</td>
            <td>{{table['metric_records']}}</td>
            <td>
              <div class="popover popover-right">
                <button class="btn btn-primary"><i class="fa fa-table"></i> Data <i class="fa fa-caret-down"></i></button>
                <div class="popover-container">
                  <ul class="menu">
                    <li class="menu-item"><a href="#">Paged View</a></li>
                    <li class="menu-item"><a href="#">Integrity Checks</a></li>
                    <li class="menu-item"><a href="#">Truncate Data</a></li>
                  </ul>
                </div>
              </div>
            </td>
            <td>
              <div class="popover popover-right">
                <button class="btn btn-primary"><i class="fa fa-cog"></i> Operations <i class="fa fa-caret-down"></i></button>
                <div class="popover-container">
                  <ul class="menu">
                    <li class="menu-item"><a href="#">Edit Fields</a></li>
                    <li class="menu-item"><a href="#">Delete Table</a></li>
                    <li class="menu-item"><a href="#">Export Data</a></li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          {% endfor -%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready( function() {

});
</script>
{% endblock %}
